*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  position: relative;
}
.box-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
}
.box-card img{
  width: 300px;
  height:200px;
}
.title{
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-indent: 20px;
}
